@media (max-width: 768px) {
    .navigation {
        display: none;
    }
    .burger {
        display: block;
    }
}


@media (max-width: 1001px) {
    banner-section {
        width: 100px;
    }
}



@media (max-width: 1001px) {
    .icon-div, .info {
        width: 100px;
        display: block;

    }
}

@media (max-width: 700px ) {
    footer {
            flex-direction: column;
    }
    .foot {
        justify-content: center;
        margin: 20px auto;
        text-align: center;
    }
    .section-one .div1-h2 {
        max-width: 300px;
        font-size: 20px;
    }
    .s2 .div1-h2 {
        max-width: 300px;
        font-size: 20px;
    }
    
    .footer-seond {
        flex-direction: column;
    }
}