@media (max-width: 768px) {
    .navigation {
        display: none;
    }
    .burger {
        display: block;
    }
}


@media (max-width: 1001px) {
    banner-section {
        width: 100px;
    }
}



@media (max-width: 1001px) {
    .icon-div, .info {
        width: 100px;
        display: block;
    }
}